<nav class="event-nav event-nav--mobile" aria-label="Navegação do evento">
  <div class="event-nav__row">
    <a class="button button--primary" href="/eventos/caminhos-do-contemporaneo/2026/"
       {% if page.url == '/eventos/caminhos-do-contemporaneo/2026/' %}aria-current="page"{% endif %}>Edição atual</a>
    <a class="button button--primary" href="/eventos/caminhos-do-contemporaneo/2026/programacao/"
       {% if page.url == '/eventos/caminhos-do-contemporaneo/2026/programacao/' %}aria-current="page"{% endif %}>Programação</a>
    <a class="button button--primary" href="/eventos/caminhos-do-contemporaneo/2026/submissoes/"
       {% if page.url == '/eventos/caminhos-do-contemporaneo/2026/submissoes/' %}aria-current="page"{% endif %}>Submissões</a>
    <a class="button button--primary" href="/eventos/caminhos-do-contemporaneo/2026/oficinas/"
       {% if page.url == '/eventos/caminhos-do-contemporaneo/2026/oficinas/' %}aria-current="page"{% endif %}>Oficinas</a>
    <a class="button button--primary" href="/eventos/caminhos-do-contemporaneo/2026/anais/"
       {% if page.url == '/eventos/caminhos-do-contemporaneo/2026/anais/' %}aria-current="page"{% endif %}>Anais</a>
  </div>
</nav>
